# Configuration file 
name = Borgharen
waterbody = Maas
static_data_files = 
current_data_file = data/Q_Borgharen_verwacht.csv
LMW_loc_code = maastricht.borgharen.maas.beneden
LMW_grootheid_code = Q
LMW_ProcesType = verwachting
update_log_file = data/logs/Qpred_Borgharen_update.log
