# Configuration file 
url_catalogus = https://ddapi20-waterwebservices.rijkswaterstaat.nl/METADATASERVICES/OphalenCatalogus
url_check = https://ddapi20-waterwebservices.rijkswaterstaat.nl/ONLINEWAARNEMINGENSERVICES/CheckWaarnemingenAanwezig
url_ophalen_waarnemingen = https://ddapi20-waterwebservices.rijkswaterstaat.nl/ONLINEWAARNEMINGENSERVICES/OphalenWaarnemingen
date_formatstring = %Y-%m-%dT%H:%M:%S.000+01:00
date_formatstring_day = %Y-%m-%dT00:00:00.000+01:00