# Configuration file 
name = Lobith
waterbody = Rijn
current_data_file = data/Q_Lobith_verwacht.csv
LMW_loc_code = lobith.bovenrijn.tolkamer
LMW_grootheid_code = Q
LMW_ProcesType = verwachting
update_log_file = data/logs/Q_Lobith_update.log